*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;

}

body{
  background-color: #040714;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding:0;
}

a{
  color:white;
  text-decoration: none;
}

/*anythigng above 768 that is large desktops*/

@media only screen and (min-width:768px){

  body{
    font-size: 16px;
  }
}

/*for smart phones range*/
@media only screen and (min-width:480px) and (max-width:768){

  body{
    font-size: 15px;
  }
}

/*for screen smaller than above mentioned size*/
@media only screen and (max-width:479px){

  body{
    font-size: 14px;
  }
}
